SECRET_KEY=your_secure_key
STATIC_KEY=your_static_key

PORT=1453

#Mongodb Database Configs
MONGO_USERNAME=your_username
MONGO_PASSWORD=your_secret_password
MONGO_DATABASE=boilerplate
MONGO_HOST=localhost
MONGO_PORT=27017

#Mysql Database Configs
MYSQL_HOST=localhost
MYSQL_USERNAME=your_username
MYSQL_PASSWORD=your_secret_password
MYSQL_DATABASE=your_db_name
